/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Design */
:root {
    --blue: rgb(48, 155, 243);
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: max(15vh, 175px) 1fr;
    font-family: 'Roboto', serif;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 4px 4px 4px rgb(197, 197, 197);
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: 75px 1fr;
}

.header .top {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

.header .top .top-stuff {
    display: flex;
}

.header .top .search-stuff {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    gap: 1rem;

}

.header .top .search-stuff label {
    display: flex;
}

.header .top .search-stuff img {
    height: 1.6rem;
}

.header .top .search-stuff input {
    background-color: rgb(226, 232, 240);
    border-width: 0;
    border-radius: 25px;
    width: 75%;
    height: 30px;
    padding: 1rem;
}

.header .top .search-stuff input:focus {
    outline: none;
    border: 2px solid rgb(54, 109, 212);
}

.header .top .top-stuff {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.header .top .top-stuff button {
    border-width: 0;
    background-color: inherit;
}

.header .top .top-stuff button > img {
    height: 1.5rem;
}

.header .top .top-stuff > img {
    height: 2.5rem;
}

.header .top .top-stuff div {
    font-weight: 700;
    font-size: 20px;
}

.header .bottom {
    display: grid;
    grid-auto-flow: column;
}

.header .bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: column;
}

.header .bottom .user-info {
    padding-left: 3vw;
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.header .bottom .user-info img {
    height: 4.5rem;
}

.header .bottom .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header .bottom .buttons button {
    background-color: var(--blue);
    color: white;
    border-width: 0;
    border-radius: 25px;
    padding: 0.35rem 1.75rem;
    width: 110px;
    font-weight: 700;
}

img {
    aspect-ratio: 1 / 1;
    height: 2rem;
    border-radius: 50%;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--blue);
    position: relative;
    z-index: 3;
    box-shadow: 2px 2px 2px rgb(204, 204, 204);
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgb(226, 232, 240);
}